/* @import "compass/css3"; */

/* Header stuff */
#brand {
  font-family: "Bowlby One SC", cursive;
  font-size: 30px;
  text-rendering: optimizeLegibility;
}

/* Body Stuff */
body {
  background-image: url(../images/soviet-culture-1980s-35.jpg);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

.container {
  font-family: "Fira Mono", monospace;
}

/* Content Stuff */
#content {
  background-color: #ccff15;
  border: 10px black;
  height: 90%; 
}


.title-container {
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid red;
  padding-bottom: 20px;
  align-items: center;
}

/* Atttempted Glitch SCSS */
#glitch {
  font-size: 25px;
}


/* End of SCSS */
.soviet-flag {
  text-align: center;
  top: 50%;
}

#directionsContainer {
  display: flex;
  justify-content: center;
}

#directions {
  text-align: center;
}

.card {
  opacity: 0.85;
  height: 100%;
  position: fixed;s
}


/* Titles */
.title {
  text-align: center;
}

.alerts {
  margin-bottom: 25px;
  text-align: center;
}


#gameOver {
  color: red; 
}

#currentWord {
  text-decoration: underline; 
}

#lettersGuessed {
  text-decoration: underline; 
}

/* Hangman Board */
#wordContainer {
  display: flex;
  justify-content: center;
}
span {
  margin: 10px;
  color: red; 
}

#scoreContainer {
  display: flex; 
  justify-content: center;  
}

/* guess board */
.guessContainer {
  display: flex;
  float: none; 
  justify-content: center;
}

#guess {
  text-align: center; 
}


#buttonContainer {
  display: flex; 
  justify-content: center; 
}

#btn {
  font-size: 12px; 
  background-color: red; 
  border: none; 
  color: yellow; 
}

